#dropArea {
    border: 2px dashed black;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    max-width: 500px;
    margin: 100px auto;
}

#dropAreaText {
    margin: 10px;
}

h4, h6 {
    margin: 2px;
}

img {
    display: none;
    margin: auto;
}

#imgPreview {
    border: 2px dashed black;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    max-width: 75%;
    margin: 100px auto;
    display: none;
}

.imgDiv {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    color: white;
    transition: box-shadow 0.3s ease-out;
}

.imgDiv:hover {
    box-shadow: 0px 0px 5px 0px #000000;
}