img {
    display: block;
    margin: auto auto;
}

#imgTable {
    border: 2px solid black;
    display: block;
}

#imgTableRow td {
    display: inline-block;
}

.imgDiv {
    display: flex;
    margin: 10px;
    padding: 2px;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    color: white;
    align-items: center;
}